<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016700700646-tfumjvaikrj82vo4e8ptcrho6a5ls63b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016700700646-tfumjvaikrj82vo4e8ptcrho6a5ls63b</string>
	<key>API_KEY</key>
	<string>AIzaSyCkygA_gqxCr1_ib9Am9zaVxRAxilnNZaA</string>
	<key>GCM_SENDER_ID</key>
	<string>1016700700646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rehan.ChatPro</string>
	<key>PROJECT_ID</key>
	<string>chatpro-f9d8f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatpro-f9d8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016700700646:ios:13c2c0f3a8fb21a537b827</string>
</dict>
</plist>